@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about <a href="https://redtechnologiesinc.com/">Red Technologies</a>.</p>
</div>
