@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
	Red Technologies LLC and its subsidiaries (the “Company”) are committed to maintaining the accuracy, confidentiality and security of the personal data that the Company collects from or about you, whether it is collected via our website (the “Website”), through our software programs or applications (an “App”), or other such means.
	<br/>
	Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information.
</p>
