.logo {
	height: 45px;
	width: auto;
}

.badge:after {
	content: attr(value);
	font-size: 12px;
	background: red;
	border-radius: 50%;
	padding: 3px;
	position: relative;
	left: -8px;
	top: -10px;
	opacity: 0.9;
}

i#cart_count {
	font-size: 37px;
}